.pt-form-login{
  margin-top: 100px;
}
.row{
  padding: 30px;
}
h1{
font-size: xx-large;
}
*{
  font-size: large;
}
.btn-block{
  padding: 10px;
  width: 100%;
  background-color: #1b5e20;
  color:#FFF;
}
.h1-style
{
  color:#1b5e20
}

