<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="logo-image-small">
        <!-- <img class="icone-leftbar" src="http://miageprojet2.unice.fr/@api/deki/site/logo.png"> -->
        <nav class="navbar navbar-light bg-light logo-padding">
            <a class="navbar-brand" href="#">
            <img src="https://webassets.mongodb.com/_com_assets/cms/mongodb_logo1-76twgcu2dm.png" width="150" height="50" class="d-inline-block align-top" alt="">
            </a>
        </nav>
        </div>
        <mat-selection-list [multiple]="false">
                <mat-list-option routerLink="/home">
                    List Assignment
                  </mat-list-option>
                  <mat-list-option routerLink="/add">
                    Ajouter Assignment
                  </mat-list-option>
                  <mat-list-option routerLink="/chart">
                    Statistique
                  </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>MBDS App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/" class="example-icon favorite-icon Position-left" aria-label="Example icon-button with heart icon">
            <mat-icon>logout</mat-icon>
          </button>
        </mat-toolbar>
        <div class="container page-height">
            <div class="row">
                <div class="col-md-6">
                    <app-chart1></app-chart1>
                </div>

            </div>
        </div>
    </div>
      
</mat-drawer-container>
      
      
      
      
      
      
      
