<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="logo-image-small">
        <!-- <img class="icone-leftbar" src="http://miageprojet2.unice.fr/@api/deki/site/logo.png"> -->
        <nav class="navbar navbar-light bg-light logo-padding">
          <a class="navbar-brand" href="#">
            <img src="https://webassets.mongodb.com/_com_assets/cms/mongodb_logo1-76twgcu2dm.png" width="150" height="50" class="d-inline-block align-top" alt="">
          </a>
        </nav>
      </div>
      <mat-selection-list [multiple]="false">
        <mat-list-option routerLink="/home">
          List Assignment
        </mat-list-option>
        <mat-list-option routerLink="/add">
          Ajouter Assignment
        </mat-list-option>
        <mat-list-option routerLink="/chart">
          Statistique
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>MBDS App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/" class="example-icon favorite-icon Position-left" aria-label="Example icon-button with heart icon">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>
      <div class="container">
        <section class="row">
          <!-- <mat-card class="col-xl-8 col-md-12 offset-xl-2 div-con style-text" *ngIf="assignmentTransmis" color="primary">
              <mat-card-title >{{assignmentTransmis.nom}}</mat-card-title>
              <mat-card-subtitle class="style-text">{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
              <div id="bottom" class="row">
                <div class="col-md-4">
                    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
                      Devoir rendu
                    </mat-checkbox>
                </div>
                <div class="col-md-4">
                    <button mat-flat-button  class="edit-button" [disabled]="!loggedIn()" (click)="onClickEdit()">
                      EDIT
                    </button>  
                </div>
                <div class="col-md-4">
                    <button mat-flat-button  class="delete-button" [disabled]="!loggedIn()"  (click)="onDelete()">
                      DELETE
                    </button>  
                </div>
              </div>
          </mat-card> -->
          <mat-card class="col-md-12 example-card" *ngIf="assignmentTransmis" color="primary">
            <div class="row">
              <div class="col-md-4">
                <mat-card-header class="row"> 
                    <div class="col-md-10">
                      <mat-card-subtitle class="rendu">Date Rendu: {{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
                    </div>
                  <div class="col-md-2 example-header-image">
                    
                    <img [src]="assignmentTransmis.matiere.imgProf" mat-card-avatar  alt="alt">
                  </div>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image [src]="assignmentTransmis.matiere.imgMat" alt="Photo of a Shiba Inu" style="height: 300px">
              </div>
              <div class="col-md-8" style="padding-top: 10%;">  
                  <mat-card-content class="card-con">
                      <p class="alert alert-dark" *ngIf="assignmentTransmis.rendu; else nonsoumis">
                        Devoir intitulé {{assignmentTransmis.nom}} rendu.
                        <br>
                          Eleve : {{assignmentTransmis.auteur}}
                          <br>
                          Matiere : {{assignmentTransmis.matiere.libelle}}
                          <br>
                        <th>
                          Note : {{ assignmentTransmis.note }}
                        </th>
                      </p>
                      <ng-template #nonsoumis>
                        <p class="alert alert-danger" [ngClass]="{nonrendu:true}">le devoir {{assignmentTransmis.nom}} n'a pas été rendu...
                          <br>
                            Eleve : {{assignmentTransmis.auteur}}
                            <br>
                          Matiere : {{assignmentTransmis.matiere.libelle}}
                          <br>
                        </p>
                      </ng-template>
                      <p class="alert alert-warning">Le(s) remarque(s) : {{assignmentTransmis.remarques}}
                      </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <div id="bottom" class="row">
                      <div class="col-md-4">
                        <button mat-flat-button  color="primary" [disabled]="!loggedIn()" *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()" aria-label="Example icon button with a bookmark icon">
                          <mat-icon>bookmark</mat-icon>
                          Devoir rendu
                        </button>  
                      </div>
                      <div class="col-md-3">
                          <button mat-flat-button  class="edit-button" [disabled]="!loggedIn()" (click)="onClickEdit()">
                            EDIT
                          </button>  
                      </div>
                      <div class="col-md-3">
                          <button mat-flat-button  class="delete-button" [disabled]="!loggedIn()"  (click)="onDelete()">
                            DELETE
                          </button>  
                      </div>
                    </div>
                  </mat-card-actions>
              </div> 
            </div>
          </mat-card>
        </section>
      </div>
    </div>
  
  </mat-drawer-container>








<!-- <div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
    <div id="bottom">
      <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
        Devoir rendu
      </mat-checkbox>

      <button mat-flat-button color="primary" [disabled]="!loggedIn()" (click)="onClickEdit()">
        EDIT
      </button>

      <button mat-flat-button color="warn" [disabled]="!loggedIn()"  (click)="onDelete()">
        DELETE
      </button>
    </div>
  </mat-card>
</div> -->
