<div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
    <div id="bottom">
      <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
        Devoir rendu
      </mat-checkbox>

      <button mat-flat-button color="primary" [disabled]="!loggedIn()" (click)="onClickEdit()">
        EDIT
      </button>

      <button mat-flat-button color="warn" [disabled]="!loggedIn()"  (click)="onDelete()">
        DELETE
      </button>
    </div>
  </mat-card>
</div>
