/* .container {
  margin: 20px;
} */

/* #bottom {
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
} */
.card-size
{
  width: 500px;
  height: 380px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 380px;
}

.example-sidenav
{
  height: 100%;
}

.pt-form-login{
  margin-top: 100px;
}
.row{
  padding: 30px;
}
h1{
font-size: xx-large;
}
*{
  font-size: large;
}
.btn-block{
  padding: 10px;
  width: 50%;
  position: relative;
  left: 25%;
}
.div-con
{
  height: 460px;
}

.edit-button
{
  color: azure;
  background-color: gold;

}

.delete-button
{
  color: azure;
  background-color: red
  
}

