.form {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 380px;
  
}

.example-sidenav
{
  height: 100%;
}

.pt-form-login{
  margin-top: 100px;
}
.row{
  padding: 30px;
}
h1{
font-size: xx-large;
}
*{
  font-size: large;
}
.Position-left
{
  position: relative;
  left:80%
}
.btn-block{
  padding: 10px;
  width: 50%;
  position: relative;
  left: 25%;
}


