<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="logo-image-small">
        <!-- <img class="icone-leftbar" src="http://miageprojet2.unice.fr/@api/deki/site/logo.png"> -->
        <nav class="navbar navbar-light bg-light logo-padding">
          <a class="navbar-brand" href="#">
            <img src="https://webassets.mongodb.com/_com_assets/cms/mongodb_logo1-76twgcu2dm.png" width="150" height="50" class="d-inline-block align-top" alt="">
          </a>
        </nav>
      </div>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          item 1 item
        </mat-list-option>
        <mat-list-option>
          item 2 item
        </mat-list-option>
        <mat-list-option>
          item 3 item
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>MBDS App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon Position-left" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon Position-left" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
        <div class="container" style="margin: 5px;" *ngIf="assignment">
          <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 div-con">
              <h4 class="style-text">Edition de l'assignment {{assignment.nom}}</h4>
              <form ngForm class="form" >
                <mat-form-field>
                  <input matInput placeholder="Edition du nom" [(ngModel)]="nomassignment" name="assignment-name">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
                  <mat-datepicker-toggle matSuffix [for]="picker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button class="btn-block" (click)="onSaveAssignment()">
                  Modifier
                </button>
              </form>
            </div>
          </div>
        </div>
    </div>
  
  </mat-drawer-container>
  
  
  
  
  
  
  




<!-- 
<div class="container" *ngIf="assignment">
  <h1>Edition de l'assignment {{assignment.nom}}</h1>
  <form ngForm class="form">
    <mat-form-field>
      <input matInput placeholder="Edition du nom" [(ngModel)]="nomassignment" name="assignment-name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSaveAssignment()">
      Sauver
    </button>
  </form>
</div> -->
