.form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
}


.div-con
{
  height: 480px;
}

.btn-block{
  padding: 10px;
  width: 50%;
  position: relative;
  left: 25%;
}

.ajouterBtn {
  align-self: flex-end;
  margin: 10px;
  float: right;
  width: 33%
}


.gros {
  font-size: 40px;
}

.example-viewport {
  height: 600px;
  /* border: 1px solid black; */
}

.example-item {
  height: 30px !important;
}
.example-card {
  /* max-width: 300px; */
  max-height: 540px;
  height: 540px;
}

.example-header-image {
  background-size: cover;
  position: relative;
  bottom: 5px;
}
.card-con
{
  height: 100px;
  max-height: 100px;
}
.Position-left
{
  position: relative;
  left:80%
}
.page-height
{
  height: 500px;
  padding: 5px
}